<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Contact
        <small>Contact information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Contact</li>
    </ol>
</section>
